/* MenuComponent.css */
.menu-container {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000; /* Ensure it stays on top of other elements */
  }
  
  .icon {
    cursor: pointer; /* Indicates it's clickable */
    color: white;
  }
  
  .dropdown {
    width: 250px; /* Or whatever width you desire */
  }
  